body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #f8cdda, #1f4037);
    color: #fff;
    background: url('images/valorant/valorant_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

button {
    background: #ff5722;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #e64a19;
}
footer {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}

/* Agentek*/
.agent-class {
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}
.agent-class img.icon {
    width: 50px;
    height: 50px;
}
.agent-class h2 {
    color: #fff;
}
.agent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.agent {
    text-align: center;
}
.agent img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid green;
}
.agent p {
    color: #fff;
}
.agent img.inactive {
    border-color: red;
    filter: grayscale(100%);
}
/* Pörgető kerék */
.wheel-container {
    text-align: center;
    margin: 20px;
}

.wheel-wrapper {
    position: relative;
    display: inline-block;
}

#wheel {
    width: 500px;
    height: 500px; 
    border: 2px solid #fff;
    border-radius: 50%;
    background: #000;
    position: relative;
    transition: transform 0.2s ease-out;
}

#indicator {
    position: absolute;
    top: -15px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #fff;
    z-index: 10;
    pointer-events: none; 
}
